@import url('https://fonts.googleapis.com/css?family=Montserrat');

.banner{
    background-image: url("img/background-projektet.png");
    background-size: cover;
    border-bottom-left-radius: 250% 160px;
    border-bottom-right-radius: 250% 160px;
}
.web-title{
    font-family: Montserrat;
    color: black;
    font-size: 30px;
}
.banner-text{
    font-family: Montserrat;
    color:white;
    font-size: 60px; 
    padding-top: 310px;
    text-align: center;
}
.likebanner-text{
    padding-bottom: 220px;
}

.video-js{
    width: 300px;
}
.contact-text{
    text-align: center;
    font-family: Montserrat;
    padding-top: 15px;
}

.information-text{
    text-align: center;
    color: gray;
}
.position-sticky{
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
}
.emailto{
    padding-left: 602px;
}
.videon{
    padding-left: 603px;
    font-family: Montserrat;
    font-weight: 600;
}
.file{
    padding-left: 610px;
    font-family: Montserrat;
    font-weight: 600;
}

.lacation{
    padding-left: 520px;
    font-family: Montserrat;
    font-weight: 600;
}